* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3f3e3e;
  font-family: DIN-Medium;
}

html {
  font-size: 100%;
  background-color: #f2f3fa;
}

body {
  min-height: 100%;
  display: contents;
}

.font-LoraMedium {
  font-family: Lora-Medium;
}
.font-LoraRegular {
  font-family: Lora-Medium;
}

h1 {
  font-weight: 500;
}

body {
  font-size: 0.8rem;

  @include respond-to(desktop) {
    font-size: 1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container--flexcolumn {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container--flexrow {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p {
  &--textCenter {
    text-align: center;
  }
}

.mrgtop {
  margin-top: 2rem;
}

.bt-primary {
  margin-top: 1rem;
  background-color: $maincolor;
  border: none;
  color: $backgroundcolor;
  border-radius: 10px;

  &--small {
    width: 8.5rem;
    height: 2rem;
  }
}

.bt-scndry {
  margin-top: 1rem;
  background-color: unset;
  border: 2px solid $maincolor;
  color: $maincolor;
  border-radius: 10px;

  &--small {
    width: 8.5rem;
    height: 2rem;
  }
}
