/* --COLORS-- */

$maincolor: #9b532b;
$secondcolor: #e8b494;
$backgroundcolor: #f2f3fa;
$secondbackgroundcolor: #cdada2;
$oilsectionbackground: #fff;
$oilsectiontext: #ac5850;
$rozadaysectionbackground: #cbaf90;
