.articlesBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    margin-top: 1rem;
  }

  @include respond-to(tabletPortrait, protraitOrientation) {
    flex-direction: initial;
    flex-wrap: wrap;
    & > div {
      margin-left: 2rem;
    }
  }
}