.cartItem {
  margin-bottom: 1.5rem;

  border-top: 1px solid $maincolor;

  & > div:nth-child(n+3) {
    margin-top: 1rem;
  }

  &__img {
    width: 50%;
  
    align-self: center;
  }
}

.amount--cart {
  width: 40%;
  background-color: unset;
  border-radius: 8px;
  border: 1px solid $maincolor;

  display: flex;
  flex-direction: row;


  & .amount-bt--cart {
    background-color: $maincolor;
    border: $maincolor;
    font-size: 1.2rem;
    color: $backgroundcolor;
    width: 3rem;

    &.bt--plus {
      border-radius: 1px 8px 8px 1px;
    }
    &.bt--minus {
      border-radius: 8px 1px 1px 8px;
    }
  }

  & .amount-input--cart {
    width: 100%;

    background-color: unset;
    border: $maincolor;
    color: $maincolor;

    text-align: center;
    font-size: 1rem;
  }
}

