.cartItem {
  margin-bottom: 1.5rem;

  border-top: 1px solid $maincolor;

  & > div:nth-child(n+3) {
    margin-top: 1rem;
  }
  
  &__img {
    width: 50%;
    
    align-self: center;
  }
  
  @include respond-to(tablet-portrait) {
    & > div > p {
      margin-right: 1rem;
    }
    &__img {
      width: 40%;
    }
  }

  @include respond-to(tablet-landscape) {
    & > div > p {
      margin-right: 1rem;
    }
    &__img {
      width: 40%;
    }
  }

  @include respond-to(desktop) {
    &__img {
      width: 30%;
    }
  }
}

.amount--cart {
  width: 40%;
  max-width: 7rem;
  background-color: unset;
  border-radius: 5px;
  border: 1px solid $maincolor;
  overflow: hidden;

  display: flex;
  flex-direction: row;


  & .amount-bt--cart {
    background-color: $maincolor;
    border: $maincolor;
    font-size: 1.2rem;
    color: $backgroundcolor;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem ;
  }

  & .amount-input--cart {
    width: 100%;

    background-color: unset;
    border: $maincolor;
    color: $maincolor;

    text-align: center;
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

