.checkout-data-card {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -15%;
    background-color: $maincolor;
  }
}

.checkout-shippingdata {
  margin-top: 1rem;
  font-size: 1rem;
}

.checkout-order {
  margin-bottom: 2rem;
}

.checkout-product-card {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkout-product-img {
  width: 20%;
}

.checkout-product-amount {
  width: 20%;
}

.edit-icon-container {
  position: absolute;
  width: 10%;
  top: 10%;
  right: 0;
  border: none;
  background-color: unset;
}

.checkout-price-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > p:nth-last-child(1) {
    font-weight: 600;
    font-size: 1rem;
  }
}
