.checkout-data-card {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 2px solid $maincolor;

  & > h2 {
    margin-bottom: 1rem;
  }

  @include respond-to(tabletPortrait, protraitOrientation) {
    font-size: 1.4rem;
  }
}

.checkout-order {
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  & > h2 {
    margin-bottom: 1rem;
  }
}

.checkout-product-card {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $maincolor;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  & > div:nth-child(2) {
    margin-bottom: 1rem;
  }

  & > div:nth-child(3) {
    & > p{
      margin-left: 3rem;
    }
  }

}

.checkout-product-img {
  width: 20%;
}

.checkout-product-amount {
  width: 40%;
  max-height: 2.5rem;
}

.editIcon {
  position: absolute;
  width: 10%;
  top: 10%;
  right: 0;
  border: none;
  background-color: unset;
}

.checkout-price-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > p:nth-last-child(1) {
    font-weight: 600;
    font-size: 1rem;
  }
}
