.footer {
  padding: 3rem 5% 2rem 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div:nth-child(n+2) {
    margin-top: 2rem;
  }

  @include respond-to(tabletPortrait, protraitOrientation) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include respond-to(desktop, noneOrientation) {
    padding-left: 18%;
    padding-right: 18%;
  }
}

.footer__downSide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  & > div:nth-child(2n) {
    margin-top: 2rem;
  }

  @include respond-to(mobileLandscape, landscapeOrientation) {
    flex-direction: row;
  }
}

.footer__mediaIcon {
  width: 1.2rem;
  height: 1.2rem;

  &:nth-child(2) {
    margin-left: 1rem;
  }
}

.footer__logoImg {
  width: 6rem;
  margin-bottom: 1rem;
}
