.subAlert {
  z-index: 900;
  position: fixed;

  display: none;
  flex-direction: column;
  align-items: center;

  min-width: 20rem;
  max-width: 30rem;
  max-height: 40rem;

  padding-bottom: 1rem;

  top: 3%;
  right: -100%;
  
  font-size: 1rem;
  
  border-radius: 10px;
  background-color: $maincolor;
  -webkit-box-shadow: 6px 10px 15px 3px rgba(0,0,0,0.1); 
  box-shadow: 6px 10px 15px 3px rgba(0,0,0,0.1);

  &.aniOn {
    display: flex;
    animation: slideInRight 2s ease-in-out forwards;
  }

  & > h3, > p {
    color: $backgroundcolor;
  }

  & > h3 {
    padding: 1rem;
  }

  & > p {
    padding: 0rem 1rem 1rem 1rem;
  }

  &__logo {
    width: 60%;
  }

  & .popup-bartime-1, .popup-bartime-2 {
    height: 1rem;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  & .popup-bartime-1 {
    z-index: 2;
    background-color: $backgroundcolor;

    &.aniOn {
      animation: barTime 5s ease-in-out 2s forwards;
    }
  }
  
  & .popup-bartime-2 {
    z-index: 1;
    background-color: rgba($backgroundcolor, $alpha: 0.5);
  }
}

@keyframes barTime {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slideInRight {
  0% {
    right: -100%;
  }
  
  90% {
    right: 7%;
  }
  
  100% {
    right: 5%;
  }
}