.slider-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr 2rem;
  grid-template-areas: 
  "arrowLeft slide arrowRight"
  ". slideDots .";

  @include respond-to(tablet-landscape) {
    width: 80%;
    grid-template-rows: 1fr 4rem;
  }

}

.slide-container {
  grid-area: slide;

  opacity: 0;
  transition-duration: 1s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &.active {
    opacity: 1;
    transition-duration: 200ms;
  }

  & .slide {
    width: 90%;

    &--half {
      width: 35%;
    }
  } 

}

.btArrow {
  border: unset;
  opacity: 0.8;
  border-radius: 3px;
  border-left: 0.2rem solid $oilsectiontext;
  border-bottom: 0.2rem solid $oilsectiontext;
  width: 1.5rem;
  height: 1.5rem;

  cursor: pointer;

  align-self: center;
  justify-self: center;

  background-color: unset;

  &--left {
    grid-area: arrowLeft;
    transform: rotate(45deg);
  }
  &--right {
    grid-area: arrowRight;
    transform: rotate(225deg);
  }

  &.hidden {
    display: none;
  }
}
