.shippingdata-card {
  width: 100%;
  position: relative;
  padding: 2rem 5rem 2rem 2rem;
  border: 3px solid $maincolor;
  border-radius: 5px;
  display: block;

  & > strong {
    font-size: 110%;
  }

  &--empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > h3 {
      margin-right: 2rem;
    }
  }

  &.hidden {
    display: none;
  }

  @include respond-to(tablet-portrait) {
    font-size: 1.1rem;
  }
}