.wrapper-qr{
  height: 100%;
  width: 100%;

}

.first-svg{
  opacity: 0;
}

.liquid-svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.logo {
  width: 20rem;
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .logo-tagline {
    margin-top: 1rem;

  }
}

.logo-tagline .letter {
  display: inline-block;
  line-height: 1em;
  color: #fff;
}
