@import "../medias";
@import "../variables";

.product-page {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
  grid-template-areas:
    "main"
    "ingredientes"
    "explain";
}

.product-details {
  grid-area: main;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-imgs {
    background-color: lightcoral;
    width: 100%;
    height: 30rem;
  }

  &-cta {
    width: 13rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: unset;
    border-radius: 8px;
    background-color: $maincolor;

    & .cta-plus {
      margin-right: 1rem;
      & .cta-plus-line {
        width: 1.2rem;
        height: 0.2rem;
        background-color: #fff;

        &:nth-child(1) {
          transform: rotate(90deg) translate(3px);
        }
      }
    }

    &-text {
      color: #fff;
    }
  }

  & .delivery-info {
    margin-top: 1rem;
    font-family: DIN-Bold;
  }

  & .product-title {
    font-size: 2.5rem;
    font-family: Lora-Regular;
    font-weight: 500;
  }

  & .product-price {
    font-size: 1.8rem;
    font-family: Lora-Regular;
  }
}

.oil-percentage {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-list {
    width: 10rem;
    height: 2rem;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "first . second";

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      border: none;
      background-color: unset;

      &.selected {
        background-color: $maincolor;
        color: $backgroundcolor;
        border-radius: 8px;
      }

      &:nth-child(1) {
        grid-area: first;
      }
      &:nth-child(2) {
        grid-area: second;
      }
    }
  }
}

.amount {
  width: 5rem;
  height: 3rem;
  background-color: $maincolor;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "number plus"
    "number minus";

  &-bt {
    background-color: unset;
    border: unset;
    font-size: 1rem;
    color: $backgroundcolor;
    border-left: 0.5px solid $backgroundcolor;
    &.bt--plus {
      grid-area: plus;
      border-bottom: 0.5px solid $backgroundcolor;
    }
    &.bt--minus {
      grid-area: minus;
    }
  }

  &-input {
    grid-area: number;
    width: 100%;

    background-color: unset;
    border: unset;
    color: $backgroundcolor;

    text-align: center;
    font-size: 1rem;
  }
}

.product-explain {
  grid-area: explain;
  background-color: #e2fcd4;
}

.text-container {
  padding: 1rem;

  & > p {
    margin-top: 1rem;
  }
}

.img-container {
  width: 100%;
}

.product-info {
  grid-area: info;

  padding: 2rem;
}
