@import "../medias";
@import "../variables";

.home-wrapper {
  padding-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40rem 0.8fr 1fr 0.6fr;
  grid-template-areas:
    "banner"
    "oilSection"
    "rozadaySection"
    "rozavihtSection";
}

.home-banner {
  grid-area: banner;
  width: 100%;

  & .video-banner {
    width: 100%;
    display: block;
  }
}

.link-wrapper {
  position: relative;
}

.section-cta {
  border: none;
  background-color: unset;
  position: relative;

  font-size: 1.4rem;
  &--rozanewssection {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      right: -1rem;
      width: 0.7rem;
      height: 1.4rem;
      background-color: $maincolor /* #83807f */;
      animation: blink 1s infinite 0.8s;
    }
  }
}

.cta-secdry {
  width: 12rem;
  height: 2.5rem;

  text-align: center;
  font-size: 1.4rem;

  border-radius: 10px;

  &--rozavihtsection {
    background-color: $maincolor;
    border: 2px solid $maincolor;
    & a {
      color: $backgroundcolor;
    }
  }
}

.section {
  padding-bottom: 3rem;
  position: relative;

  margin-top: 3rem;

  &-title {
    font-family: Lora-Medium;
    margin-bottom: 1rem;
  }

  /* ----- CBD SECTION ------- */

  &--cbd {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: oilSection;
    position: relative;

    &-hero {
      width: 100%;
      height: 18rem;
      position: relative;
    }

    &-img {
      position: absolute;
      width: 70%;
    }

    /*     & .background-slide {
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
      height: 100%;
      animation: slide-vertical 2s forwards;
      background-color: $oilsectiontext;
    } */

    & .animated-slide {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      animation-delay: 2s;

      &.anmtionON {
        animation: slide-horizontal 1.5s forwards;
      }

      &--big {
        background-color: $oilsectiontext;
      }

      &--small {
        right: 0;
        background-color: #803e37;
      }
    }

    &-title,
    &-text {
      &.anmtionON {
        animation: show-up 1s ease-in-out;
      }
    }

    &-title {
      font-family: Lora-Medium;
      color: $oilsectiontext;
      position: absolute;
      left: 5%;
      bottom: 20%;
    }

    &-secndimg {
      position: absolute;
      top: 10%;
      right: 0;
      width: 40%;
    }

    &-text {
      margin-bottom: 1rem;
      color: $oilsectiontext;
    }

    &-cta-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-cta {
      width: 60%;
      height: 2.5rem;
      padding-right: 1rem;

      border-radius: 0 10px 10px 0;

      text-align: end;
      font-size: 1.4rem;

      background-color: $oilsectiontext;
      border: 2px solid $oilsectiontext;

      &.anmtionON {
        animation: slide-cta 1.5s forwards;
      }
      &-link {
        opacity: 0;
        color: #fff;

        &.anmtionON {
          animation: show-up 1s 1s forwards;
        }
      }
    }

    & .cbdIllustration {
      margin-right: 1rem;
      width: 30%;
    }
  }

  /* ------- ROZANEWS SECTION ------- */

  &--rozanews {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: rozadaySection;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &-img {
      margin-top: 1rem;
      width: 100%;
    }
  }

  /* ------- ROZAVIHT SECTION ------- */

  &--rozaviht {
    grid-area: rozavihtSection;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 15rem 20rem 3rem;
    grid-template-areas:
      "banner"
      "text"
      "collage"
      "button";

    &-banner {
      grid-area: banner;
      width: 80%;
    }

    & .section-text-wrapper {
      grid-area: text;
    }

    &-text {
      margin-bottom: 1rem;
      color: $maincolor;
    }

    & .collage-wrapper {
      grid-area: collage;
      position: relative;

      & div:nth-child(2) {
        width: 40%;
        position: absolute;
        top: 20%;
        left: 0;
      }
      & div:nth-child(3) {
        z-index: 2;
        width: 40%;
        position: absolute;
        top: 70%;
        left: 5%;
      }
      & div:nth-child(4) {
        z-index: 2;
        width: 40%;
        position: absolute;
        top: 20%;
        right: 5%;
      }
      & div:last-child {
        width: 30%;
        position: absolute;
        top: 70%;
        right: 5rem;
      }

      & .collageMain {
        z-index: 1;
        position: absolute;
        width: 35%;
        top: 30%;
        left: 30%;
        animation: imgDrop 2s forwards, imgScale 3s forwards;
      }
    }
  }
}

.section-text-wrapper {
  padding: 1rem;
}

.home-cta {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  width: 100%;
}

.rozanewsIlustration-container {
  width: 40%;
}

.image-separator {
  justify-self: center;
  align-self: baseline;
  width: 70%;
}

.section-text-container {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
}
.rozanews-text {
  font-size: 1rem;
  overflow: hidden;
  margin: 0 auto;
}

.typewriter .section-tagline {
  font-family: Lora-Italic;
  border-right: 0.8rem solid $maincolor;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.13em;

  &.anmtionON {
    animation: blink-caret 0.75s step-end infinite, typing 4s steps(35, end);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $maincolor;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-horizontal {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slide-cta {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgDrop {
  0% {
    transform: translateY(-10rem);
  }

  50% {
    transform: translateY(4rem) scaleY(80%);
  }

  100% {
    transform: translateY(0rem) scaleY(100%);
  }
}

@keyframes imgScale {
  from {
    width: 5%;
  }

  to {
    width: 40%;
  }
}
