@import "../medias";
@import "../variables";

.home-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36rem 7rem 1fr 1fr 1fr;
  grid-template-areas:
    "banner"
    "homeInfo"
    "oilSection"
    "rozadaySection"
    "rozavihtSection";
}

.home-banner {
  grid-area: banner;
  width: 100%;
  background-color: khaki;
}

.home-info {
  grid-area: homeInfo;
  width: 100%;
  height: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-banner {
  position: relative;
  width: 100%;
  height: 30rem;

  &-title {
    position: absolute;
    top: 0;
    left: 0;

    color: white;
    font-family: Lora-Medium;
    font-size: 2.5rem;
  }

  &-img {
    width: 100%;
    height: 100%;
  }
}

.cta--secdry {
  width: 12rem;
  height: 2.5rem;
  margin-top: 4rem;

  text-align: center;
  font-size: 1.2rem;

  background-color: unset;
  border: 2px solid $maincolor;
  border-radius: 10px;

  & a {
    color: $maincolor;
  }
}

.section {
  padding-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--oil {
    grid-area: oilSection;
    background-color: $oilsectionbackground;
  }

  &--rozaday {
    grid-area: rozadaySection;
    background-color: $rozadaysectionbackground;
  }

  &--rozaviht {
    grid-area: rozavihtSection;
    padding-top: 2rem;
  }
}

.container--flex {
  padding: 1rem;
  display: flow-root;

  & p {
    margin-bottom: 2rem;
  }

  & .oil-ilustration {
    float: right;
    shape-outside: url("../../../public/img/oil-ilustration.svg");
    shape-margin: 3rem;
  }
  & .news-ilustration {
    width: 11rem;
    float: right;
    shape-outside: url("../../../public/img/news-ilustration.svg");
    shape-margin: 3rem;
  }
}

.logo-rozaviht-section {
  width: 14rem;
  margin-bottom: 2rem;
}

.img-rozaviht-section {
  width: 100%;
  height: 25rem;
}
