.cart {
  z-index: 99999;
  height: 100%;
  width: 100%;

  position: fixed;
  right: 0;
  top: 0;

  transform: translate(100vw);
  transition: 700ms ease-in-out;

  overflow: scroll;

  border-left: 5px solid $maincolor;
  background-color: $backgroundcolor;

  display: flex;
  flex-direction: column;

  &.dropped {
    transform: translate(0rem);
  }

  & .cart-title {
    color: $maincolor;
    font-family: Lora-Regular;
    font-size: 1.3rem;
    text-align: center;

    margin-top: 1.5rem;
  }
}

.containerflx--column {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  &.extra-pd {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

.empty-cart {
  margin-top: 5rem;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  &-text {
    text-align: center;
    font-family: DIN-Bold;
    margin-bottom: 1rem;

    &:nth-child(2) {
      margin-bottom: 4rem;
    }
  }
}

.close-bt {
  background-color: unset;
  border: unset;
  position: relative;
  width: 3rem;
  height: 3rem;
  & .line-left,
  .line-right {
    width: 1.8rem;
    height: 0.2rem;
    background-color: $maincolor;
    border-radius: 5px;
    position: absolute;
    left: 0.5rem;
    top: 1.5rem;
  }

  & .line-left {
    transform: rotate(45deg);
  }
  & .line-right {
    transform: rotate(-45deg);
  }
}

.cart-items-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.total-price-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;

  & .total-price {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;

    &-number {
      font-family: Lora-Medium;
      margin-left: 1rem;
    }
  }

  & .cart-cta-buy {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;

    color: #fff;
    border: unset;
    border-radius: 8px;
    background-color: $maincolor;
  }
}

.logo-cart-container {
  width: 120px;
  height: 60px;

  position: absolute;
  top: 1%;
  left: 35%;
}
