.checkout-section {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  margin-top: 2rem;
  position: relative;
  width: 100%;

  &--multiple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.checkout-label {
  position: relative;

  &--short {
    width: 80%;
  }

  &--tiny {
    margin-left: 2rem;
    width: 40%;
  }
}

.checkout-input {
  border: 2px solid $maincolor;
  background-color: unset;
  display: block;
  padding: calc(0.5rem * 1.5) 0.5rem;
  width: 100%;
  font-size: 100%;
  outline: none;
  border-radius: 8px;

  &--textarea {
    height: 6rem;
  }

  &:focus,
  &:not(:placeholder-shown) {
    border: 2px solid #4b9514;
  }

  &-errmssg {
    font-size: 0.8rem;
    color: #f01f1f;
  }

  &--error {
    border: 2px solid #f01f1f;
  }
}

.checkout-labelcontent {
  position: absolute;
  top: 0;
  left: 0;
  padding: calc(0.5rem * 0.75) calc(0.5rem * 0.5);
  margin: calc(0.5rem * 0.75 + 3px) calc(0.5rem * 0.5);
  color: $maincolor;
  opacity: 0.8;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: $backgroundcolor;
  line-height: 1.2;
  transition: all 0.3s ease;
}

.checkout-input:focus + .checkout-labelcontent,
.checkout-input:not(:placeholder-shown) + .checkout-labelcontent {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #4b9514;
  opacity: 1;
}

.checkout-input.checkout-input--error + .checkout-labelcontent {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #f01f1f;
  opacity: 1;
}

.checkout-input:focus.checkout-input--error + .checkout-labelcontent {
  color: #4b9514;
}

.select-wrapper {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  line-height: 1.1;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  border-bottom: 2px solid $maincolor;

  &::after {
    content: "";
    width: 1rem;
    height: 0.7rem;
    background-color: $maincolor;
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
    justify-self: end;
  }
}

.select-wrapper,
.select-wrapper::after,
.checkout-select {
  grid-area: select;
}

.checkout-select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  font-size: 1rem;
  color: $maincolor;
}

.checkout-option {
  background-color: $backgroundcolor;
  outline: none;
  font-size: 1rem;
  color: $maincolor;
}

.note-span {
  font-size: 0.7rem;
  opacity: 0.8;
}

.checkoutform-bt {
  width: 80%;
  height: 2.5rem;
  margin-top: 2rem;
  color: $backgroundcolor;
  background-color: $maincolor;
  border-radius: 10px;
  border: 1px solid $maincolor;
  font-size: 1rem;
}
