@import "../_variables";
@import "../medias";

/* Styles */
.wrapper {
  height: 100%;

  padding-top: 0.2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 0.1fr;
  grid-template-areas:
    "navbar"
    "."
    "footer";
}
