@import "../_variables";
@import "../medias";

/* Styles */
.wrapper {
  height: 100%;


  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.8rem 4rem 86% 12%;
  grid-template-areas:
    "topWarning"
    "navbar"
    "."
    "footer";

    &.non-scroll {
      overflow: hidden;
    }
}
