@import "../_variables";
@import "../medias";

/* Styles */
.wrapper {
  height: 100%;

  padding-top: 0.8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2% 86% 12%;
  grid-template-areas:
    "navbar"
    "."
    "footer";
}
