.navbar {
  position: relative;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(mobileLandscape, landscapeOrientation) {
    flex-direction: row;
    padding: 1rem 3rem 1rem 3rem;
  }
  @include respond-to(tabletPortrait, protraitOrientation) {
    padding-left: 20%;
    padding-right: 20%;
  }
}


.navbar__logoImg {
  width: 35%;

  @include respond-to(mobileLandscape, landscapeOrientation) {
    width: 30%;
  }

  @include respond-to(tabletLandscape, landscapeOrientation) {
  }
}

.navbar__menu {
  width: 100%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 1px solid $maincolor;

  & > a {
    color: $maincolor;
  }

  @include respond-to(mobileLandscape, landscapeOrientation) {
    flex-direction: row;
    margin: 0;

    border: none;
  }

  @include respond-to(tabletLandscape, landscapeOrientation) {
    padding-right: 12%;
  }
}



.navbar__cartBt {
  position: absolute;
  right: 1rem;

  @include respond-to(mobileLandscape, landscapeOrientation) {
    position: initial;
  }
}

.navbar__cartIcon {
  position: relative;
  width: 25px;
  height: 25px;
}

.navbar__cartCounter {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  display: none;
  background-color: $maincolor;
  border-radius: 30%;
  color: $backgroundcolor;

  &.active {
    display: block;
  }
}
