$breakpoints: (
  "mobilePortrait": (
    min-width: 360px,
  ),
  "mobileLandscape": (
    min-width: 640px,
  ),
  "tabletPortrait": (
    min-width: 960px,
  ),
  "tabletLandscape": (
    min-width: 1100px,
  ),
  "desktop": (
    min-width: 1440px,
  ),
);

$orientations: (
  "protraitOrientation": (
    orientation: portrait,
  ),
  "landscapeOrientation": (
    orientation: landscape,
  ),
  "noneOrientation": (
    orientation: none,
  )
);

@mixin respond-to($breakpoint, $orientation) {
  // If the keys exists in the maps
  @if map-has-key($orientations, $orientation) and map-has-key($breakpoints, $breakpoint) {
    // Check the orientation variable and print a media based on orientation and breakpoint value

    @if $orientation == portrait {
      @media screen and #{inspect(map-get($breakpoints, $breakpoint))}, and , #{inspect(map-get($orientations, $orientation))}  {
        @content;
      }
    }

    @else if $orientation == landscape {
      @media screen and #{inspect(map-get($breakpoints, $breakpoint))}, and , #{inspect(map-get($orientations, $orientation))}  {
        @content;
      }
    }

    @else {
      @media screen and #{inspect(map-get($breakpoints, $breakpoint))}  {
        @content;
      }
    }
  }

  // If the keys doesn't exist in the maps
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
