/* --COLORS-- */

$maincolor: #9b532b;
$secondcolor: #e8b494;
/* $backgroundcolor: #f2f3fa; */
$backgroundcolor: #F7F4F3;
$yellowbackgroundcolor: #FEF3D2;
$secondbackgroundcolor: #cdada2;
$oilsectionbackground: #fff;
$oilsectiontext: #ac5850;
$rozadaysectionbackground: #cbaf90;

/* $lightmaincolor: #DA936C; */
$lightmaincolor: #F7D8C6;
